body {
  width: 400px;
  margin: 0 auto;
  background-color:bisque;
}

button {
  margin-left: 15px;
  border-radius: 10%;
  border-width: 1px;
}

button:hover {
 background-color: #4DF9B9;
}
p {
  text-align: center;

}
.list-item {
  display: flex;
  align-items: center;
}
.incomplete-area {
  background-color:honeydew;
  min-height: 50px;
  border-radius: 5%;
}

.complete-area {
  background-color:honeydew;
  min-height: 50px;
  border-radius: 5%;
}